 h1{
   text-align: center;
   font-size: 45px;
 
   
 }

.container{
    display: flex;
    justify-content: space-around;
   
}

.flex-container{
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items:baseline;
}
.tamanho table, tr, td, th{
  font-size: 45px;
  padding: 10px;
}

.month{
  font-size: 46px;
 

}

.navegaMeses{
  text-align: center;
}
form {

  background-color: #0050fd;

  max-width: 1215px;

  margin: 25px auto;

  padding: 0px 0px;

  box-shadow: 6px 6px 10px rgb(0, 0, 0);

}

body {
  background-color: #ffffff;
  font-family: Verdana;

  text-align: center;

}

.form-control textarea {

    border: 1px solid #ffffff;

    border-radius: 10px;

    font-family: inherit;

    padding: 10px;

    display: block;

    width: 100%;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  margin: 0;
  background-color: #00ffc8;
}

#calendar-container {
  width: 100%;
  max-width: 584x;
}

table {
  border-collapse: collapse;
  width: 99%;
  background-color: #fff4f4;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

th, td {
  border: 1px solid #000000;
  padding: 0%;
  text-align: center;
}

th {
  background-color: #fbff00;
}

.header {
  background-color: #00ff08;
  color: white;
}

caption {
  font-weight: bold;
  font-size: 1.3em;
  margin: 5px 0;
}

#set9{
  background-color: rgb(9, 255, 0);
}